:root {
/*Definir las variables CSS (:root) para los colores (morado, gris, negro, blanco, rojo)*/
    --clr-purple: hsl(259, 100%, 65%); 
    --clr-light-red: hsl(0, 100%, 67%);
    --clr-white: hsl(0, 100%, 100%);
    --clr-light-grey: hsl(0, 0%, 94%); 
    --clr-smokey-grey: hsl(0, 0%, 86%); 
    --clr-grey-500: hsl(0, 1%, 44%);
    --clr-off-black: hsl(0, 0%, 0%); 
    --fs-input: 32px; 
}

/*Importar la fuente, en este proyecto La fuente Poppins esta en: ./assets/fonts */
@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}
/*Aplicación de estilos globales, reseteo básico, configuración de la
fuente y color de fondo en el <body>*/
*, *::before, *::after {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif; 
    background-color: var(--clr-light-grey);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}
/*Estilo los campos del formulario, el botón y la línea divisoria.*/
.age-calculator-card {
    background-color: var(--clr-white);
    padding: 40px 24px;
    border-radius: 20px 20px 100px 20px; 
    width: 100%;
    max-width: 840px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.input-section {
    display: flex;
    gap: 16px;  
    padding-bottom: 30px;
    position: relative;
    border-bottom: 1px solid var(--clr-light-grey); 
}

.input-group {
    display: flex;
    flex-direction: column;
    max-width: 120px;
    width: 30%; 
}

.input-label {
    color: var(--clr-grey-500);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 10px; 
    letter-spacing: 2px;
    margin-bottom: 8px;
}

.date-input {
    font-size: var(--fs-input);
    font-weight: 700;
    padding: 12px 16px;
    border: 1px solid var(--clr-smokey-grey);
    border-radius: 8px;
    width: 100%;
    -moz-appearance: textfield; 
    appearance: textfield;
}

.date-input::-webkit-outer-spin-button,
.date-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Estilo al pasar el mouse por encima del input */
.date-input:hover {
    border-color: var(--clr-purple);
    cursor: pointer;
}
/* Estilo al hacer click y escribir en el input */
.date-input:focus {
    outline: none;
    border-color: var(--clr-purple);
}

.divider-section {
    position: relative;
    width: 100%;
    margin-top: 15px; 
}

.divider-line {
    border: none;
    height: 1px;
    background-color: var(--clr-light-grey);
    width: 100%;
}

#calculate-btn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: none;
    background-color: var(--clr-purple);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.5s;
}

/* Estilo al pasar el mouse por encima del botón */
#calculate-btn:hover {
    background-color: var(--clr-off-black);
}

#calculate-btn img {
    width: 50%;
}
/*Crear clases de CSS para los estados de error (por ejemplo, input-error, label-error,
message-error) que cambien los colores de borde y texto a rojo.*/
.label-error {
    color: var(--clr-light-red); 
}

.input-error {
    border-color: var(--clr-light-red) !important;
}

.error-message {
    color: var(--clr-light-red);
    font-style: italic;
    font-size: 10px;
    margin-top: 8px;
    min-height: 12px;
}

.results-section {
    padding-top: 20px;
}

.result-line {
    font-size: 56px; 
    font-weight: 800;
    font-style: italic; 
    line-height: 1.1;
}

.result-number {
    color: var(--clr-purple);
}

.result-text {
    color: var(--clr-off-black);
}

@media (min-width: 768px) {
    .age-calculator-card {
        padding: 56px;
    }
    
    .input-section {
        padding-right: 200px; 
        border-bottom: 1px solid var(--clr-light-grey);
    }
    
    .input-group {
        max-width: 160px;
    }

    #calculate-btn {
        width: 96px;
        height: 96px;
        right: 0; 
    }

    .result-line {
        font-size: 104px; 
    }
}